@import "@fortawesome/fontawesome-free/css/all.css";

a {
  text-decoration: none;
  color: rgb(75, 75, 75);
}

a:hover {
  text-decoration: none;
  color: rgb(197, 190, 190);
}

.navbar {
  background-color: rgb(245, 245, 247);
  height: 10vh;
  width: 100%;
  color: rgb(75, 75, 75);
  padding-left: 4vw;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  width: 80%;
}

#searchbar {
  width: 100%;
  height: 4vh;
  border-radius: 4vh;
  border: 1px #ffffff solid;
  padding: 2vh;
}

.searchblock {
  width: 35%;
}

#searchbarblock {
  display: block;
  position: absolute;
  width: 27%;
  height: auto;
  border-radius: 2vh;
  box-shadow: 0px 4px 12px 0px rgb(0, 0, 0);
  background-color: rgb(245, 245, 247);
  top: 7vh;
  z-index: 1;
  min-height: 5vh;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(245, 245, 247);
  top: 1.2vh;
  left: -4vh;
  min-width: 8vw;
  box-shadow: 0px 4px 12px 0px rgb(0, 0, 0);
  border-radius: 1vh;
  padding: 1vh 1vw;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 20vh;
}

.btn {
  padding-top: 50%;
}

.add {
  border: 0.3vh blue solid;
  padding: 0.4vh;
  border-radius: 10%;
}

.add:hover {
  background-color: blue;
  color: rgb(255, 255, 255);
}

.block {
  width: 80%;
  height: auto;
  padding: 4vh;
  margin-left: 10%;
  background-color: rgb(255, 255, 255);
}

.product {
  background-color: rgb(255, 255, 255);
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.grid {
  padding: 2vh;
}

.image {
  height: 26vh;
  width: 65%;
}

.imageslider {
  border-bottom: 0.2vh solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 60vh;
  width: 100%;
  background-color: rgb(245, 245, 247);
}

.footer {
  border-top: 0.2vh solid black;
  width: 100%;
  margin-top: 10vh, ;
  height: 15vh;
  background-color: rgb(245, 245, 247);
  text-align: center;
}


.slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 60vw;
  height: 100%;
}

.img-container {
  height: 100%;
  display: flex;
  transition: transform 300ms ease-in-out;
}

.previous {
  cursor: pointer;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 10vw;
}

.next {
  cursor: pointer;
  color: rgb(0, 0, 0);
  position: absolute;
  right: 10vw;
}